.left-side {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.sticky-left-side {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
  background: #111;
}

.sticky-left-side .custom-nav {
  margin-top: 59px;
  background: #000;
}

.left-side-collapsed .sticky-left-side {
  overflow-y: visible;
}

.logo a {
  font-size: 28px;
  color: #fff;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
}

.logo a span {
  color: black;
}

.logo-icon {
  display: none;
}

div#page-wrapper {
  padding: 3em 2em;
}

.left-side-collapsed .logo-icon {
  height: 51px;
  margin-top: 0;
  display: block !important;
}

.logo-icon a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.logo-icon a {
  font-size: 2em;
  color: white;
  margin-top: 9px;
  font-family: 'MavenPro-Regular';
  font-weight: 700;
}

.logo-icon a:hover {
  color: orange;
}

.left-side-inner {
  padding: 0px;
  margin-bottom: 50px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 17px 15px;
}

.nav>li {
  position: relative;
  display: block;
}

.nav-stacked>li+li {
  margin-top: 1px;
  margin-left: 0;
}

ul.nav.nav-pills.nav-stacked.custom-nav li a img {
  vertical-align: baseline;
}

i.camera {
  width: 16px;
  height: 16px;
  background: url(../images/radio.png) no-repeat 0px 0px;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

ul.nav.nav-pills.nav-stacked.custom-nav li:hover i.camera {
  background: url(../images/radio1.png) no-repeat 0px 0px;
}

.custom-nav {
  margin-bottom: 10px;
}

.custom-nav>li>a {
  color: #C8C8C8;
  padding: 12px 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.custom-nav>li>a:hover, .custom-nav>li>a:active {
  color: darkslategray;
  background-color: #292929;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.custom-nav>li.menu-list>a:hover {
  background-color: #191919;
}

.custom-nav>li.nav-active>a {
  background-color: #111;
  color: darkslategray;
}

.custom-nav>li.nav-active>ul {
  display: block;
}

.custom-nav>li.nav-active>a:hover {
}

.custom-nav>li.active>a, .custom-nav>li.active>a:hover, .custom-nav>li.active>a:focus {
  background-color: #111;
  color: darkslategray;
}

ul.dropdown-menu.drp-mnu li {
  width: 100%;
}

.custom-nav>li.menu-list.active>a {
  background-image: url(../images/plus.png);
}

.custom-nav>li.nav-active.active>a {
  background-image: url(../images/minus.png);
}

.custom-nav>li.nav-active.active>a:hover {
  background-image: url(../images/minus.png);
}

.custom-nav li .fa {
  font-size: 16px;
  vertical-align: middle;
  width: 16px;
  text-align: center;
}

.profile_img i {
  float: right;
  margin: .5em 0 0;
  color: #00BCD4;
}

.custom-nav .menu-list.active ul {
  display: block;
}

.sticky-header .logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 100;
  background: darkslategray;
  border-bottom: 1px solid #5F45BB;
  text-align: center;
  padding-bottom: 18px;
}

.logo h1 {
  margin-bottom: 0;
  line-height: 25px;
}

.sticky-header .header-section {
  position: fixed;
  top: 0;
  left: 200px;
  width: 100%;
  z-index: -5;
}

.sticky-header .main-content {
  padding-top: 50px;
}

.sticky-header .menu-right {
  margin-right: 0;
}

.sticky-header.left-side-collapsed .header-section {
  left: 52px;
}

.sticky-header.left-side-collapsed .menu-right {
  margin-right: 0;
}

.menu-right {
}

.left-side-collapsed .logo {
  display: none;
}

.left-side-collapsed .header-section {
  margin-left: 0px;
}

.left-side-collapsed .left-side {
  width: 52px;
  top: 0px;
}

.left-side-collapsed .left-side-inner {
  padding: 0;
}

h5.left-nav-title {
  margin-left: 10px;
  color: #fff;
  margin-bottom: 8px;
}

.left-side-collapsed .custom-nav {
  margin: 26px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
  text-align: center;
  padding: 10px;
  position: relative;
}

.left-side-collapsed .custom-nav>li.menu-list>a {
  background-image: none;
}

.left-side-collapsed .custom-nav li a span {
  position: absolute;
  background: darkslategray;
  padding: 11.7px;
  left: 52px;
  top: 1px;
  min-width: 70px;
  text-align: left;
  z-index: 100;
  display: none;
  font-size: 14px;
}

.left-side-collapsed .custom-nav li a span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-right-color: darkslategray;
  border-width: 6px;
  margin-top: -6px;
}

.left-side-collapsed .custom-nav li.active a span {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.left-side-collapsed .custom-nav ul, .left-side-collapsed .custom-nav .menu-list.nav-active ul {
  display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
  display: block;
}

.left-side-collapsed .custom-nav>li.nav-hover>a, .left-side-collapsed .custom-nav>li.nav-hover.active>a {
  background: #111;
  color: darkslategray;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
  display: block;
  color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
  background: darkslategray;
  color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
  display: block;
  position: absolute;
  top: 44px;
  left: 52px;
  margin: 0;
  min-width: 160px;
  background: #45B39D;
  z-index: 100;
  -moz-border-radius: 0 0 2px 0;
  -webkit-border-radius: 0 0 2px 0;
  border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
  text-align: left;
  padding: 6px 10px;
  padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
  background: #28947E;
}

.left-side-collapsed .custom-nav li a i {
  margin-right: 0;
  font-size: 1.2em;
}

ul.nav li a span {
  padding-left: .5em;
}

.left-side-collapsed .main-content {
  margin-left: 52px;
}

.left-side-collapsed .left-side {
  overflow: visible !important;
}

.header-section {
  height: 68px;
  background: white;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
  -o-box-shadow: 1px 0 3px rgba(0, 0, 0, .15);
  padding-bottom: 2px;
}

.header-section::after {
  clear: both;
  display: block;
  content: '';
}

.toggle-btn {
  font-size: 17px;
  padding: 4px 0 0;
  width: 30px;
  height: 30px;
  margin: 1.25em 0 0 .5em;
  text-align: center;
  cursor: pointer;
  float: left;
  color: #fff;
  background: #111;
  border: none;
  border-radius: 5px;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
  background: darkslategray;
  color: #fff;
}

.searchform input {
  box-shadow: none;
  float: left;
  font-size: 14px;
  margin: 8px 0 0 10px;
  padding: 7px 10px;
  width: 220px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.searchform input:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
}

.logo-co {
  float: left;
  padding: 7px 15px 6px;
}

.logo-co a {
  display: block;
}

.search_box_div {
  height: 50px;
  width: 450px;
  margin-top: -35px;
  margin-left: 100px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  outline: none;
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 300px;
  background-color: #fff;
  border-color: gray;
  -webkit-box-shadow: 0 0 5px gray;
  -moz-box-shadow: 0 0 5px gray;
  box-shadow: 0 0 5px gray;
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

#search_box input[type=search] {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#search_box input[type=search]:hover {
  background-color: #fff;
}

#search_box input[type=search]:focus {
  width: 350px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#search_box input:-moz-placeholder {
  color: transparent;
}

#search_box input::-webkit-input-placeholder {
  color: transparent;
}

#loginForm {
  width: 400px;
  background: #fff;
  border: 1px solid #d6d6d6;
  height: 200px;
}

.login-pop {
  width: 20%;
  margin-top: 0.9em;
  margin-left: 3%;
}

a.top-sign {
  display: inline-block;
  float: right;
  margin-left: 4em;
  margin-top: 0.2em;
  color: #111;
  font-size: 1.25em;
}

i.arrow {
  font-size: 0.9em;
  color: #fff;
  vertical-align: baseline;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#loginButton {
  margin-left: 350px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-top: 8px;
  display: inline-block;
  position: relative;
  z-index: 30;
  cursor: pointer;
  text-decoration: none;
}

#loginBox {
  position: absolute;
  top: 56px;
  right: -185px;
  display: none;
  z-index: 29;
}

#loginForm:after {
  content: '';
  position: absolute;
  left: 340px;
  top: -10px;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid lightgray;
}

.gap {
  margin-top: 10px;
}

.login_div {
  position: fixed;
  width: 500px;
  height: 70px;
  margin-top: -67px;
  right: 0px;
}

.loginExpand {
  margin-right: -170px;
  height: 200px;
  width: 400px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.loginMailTitle {
  margin-left: 15px;
  margin-top: 10px;
  float: left;
}

.loginMailBox {
  margin-right: 30px;
  margin-top: 10px;
  width: 250px;
  float: right;
}

.rememberMe {
  margin-left: 18px;
  margin-top: 25px;
}

.loginSubmitButton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  float: right;
  margin-right: 150px;
  margin-top: 20px;
}

.forgotPass {
  margin-top: 30px;
  margin-left: 20px;
}

.registerButton {
  float: right;
  font-weight: 600;
  margin-right: 30px;
  margin-top: -22px;
  font-size: 20px;
}

.footer_div {
  position: fixed;
  height: 33px;
  width: 100%;
  background-color: black;
  bottom: 0;
  z-index: 500;
}

.footer_CR {
  color: gray;
  float: left;
  padding-left: 40px;
  padding-top: 5px;
}

.footer_MU {
  color: gray;
  float: right;
  padding-right: 40px;
  padding-top: 5px;
}

.registerArea {
  margin-top: 100px;
}

.loggedInUserID_div {
  float: right;
  width: 250px;
  height: 70px;
  padding-top: 15px;
  padding-top: 18px;
}

.loggedInUserID {
  float: right;
  font-size: 22px;
  color: black;
  font-weight: 400;
  margin-right: 20px;
}

.loggedInUserID:hover {
  color: blue;
  text-decoration: none;
}

.logoutText_div {
  padding-top: 22px;
  float: right;
  width: 80px;
  height: 70px;
}

.logoutText {
  height: 30px;
  width: 30px;
  margin-top: -1px;
  margin-left: 8px;
}

.logoutText:hover {
  color: blue;
  text-decoration: none;
}

.profilePicRoundDiv {
  cursor: pointer;
  float: right;
  margin-right: 8px;
  margin-top: -5px;
}

.profilePicRound {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.uploadIconDiv {
  padding-top: 19px;
  float: right;
  width: 80px;
  height: 70px;
}

.uploadIcon {
  height: 30px;
  width: 30px;
}

.songUploadButton {
  margin-top: 50px;
  margin-left: 300px;
}

.mediumGap {
  margin-top: 20px;
}

.songUploadDiv {
  margin-left: -100px;
  display: block;
  width: 520px;
  height: 40px;
  padding-left: 6px;
  font-size: 20px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.songUploadDiv:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.songUploadDiv::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.songUploadDiv:-ms-input-placeholder {
  color: #999;
}

.songUploadDiv::-webkit-input-placeholder {
  color: #999;
}

.songUploadDiv[disabled], .songUploadDiv[readonly], fieldset[disabled] .songUploadDiv {
  background-color: #eee;
  opacity: 1;
}

.songUploadDiv[disabled], fieldset[disabled] .songUploadDiv {
  cursor: not-allowed;
}

textarea.songUploadDiv {
  height: auto;
}

.uploadAlbumDiv {
  height: 60px;
  width: 750px;
  background-color: red;
  margin-left: 195px;
}

.uploadChooseButton {
  height: 60px;
  width: 375px;
  font-size: 20px;
  font-weight: 600;
  background-color: #555;
  border-width: 1px;
  color: white;
}

.makeAlbumChooseButton {
  height: 60px;
  width: 375px;
  float: right;
  font-size: 20px;
  font-weight: 600;
  background-color: #555;
  border-width: 1px;
  color: white;
}

.chooseAudio{
  margin-left: -100px;
}

.songPlayDiv{
  margin-top: -200px;
  margin-left: 550px;
  display: none;
}

.audio.green-audio-player {
  width: 400px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #000010;
}
.audio.green-audio-player .play-pause-btn {
  display: none;
  cursor: pointer;
}
.audio.green-audio-player .spinner {
  width: 18px;
  height: 18px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 0.4s linear infinite;
}
.audio.green-audio-player .slider {
  flex-grow: 1;
  background-color: #D8D8D8;
  cursor: pointer;
  position: relative;
}
.audio.green-audio-player .slider .progress {
  background-color: #44BFA3;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.audio.green-audio-player .slider .progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #44BFA3;
  position: absolute;
  pointer-events: all;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}
.audio.green-audio-player .controls {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606E;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.audio.green-audio-player .controls .slider {
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 2px;
  height: 4px;
}
.audio.green-audio-player .controls .slider .progress {
  width: 0;
  height: 100%;
}
.audio.green-audio-player .controls .slider .progress .pin {
  right: -8px;
  top: -6px;
}
.audio.green-audio-player .controls span {
  cursor: default;
}
.audio.green-audio-player .volume {
  position: relative;
}
.audio.green-audio-player .volume .volume-btn {
  cursor: pointer;
}
.audio.green-audio-player .volume .volume-btn.open path {
  fill: #44BFA3;
}
.audio.green-audio-player .volume .volume-controls {
  width: 30px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.audio.green-audio-player .volume .volume-controls.hidden {
  display: none;
}
.audio.green-audio-player .volume .volume-controls .slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress {
  bottom: 0;
  height: 100%;
  width: 6px;
  margin-bottom: 0px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
  left: -5px;
  top: -8px;
}


.majhkhanerJayga{
  width: 950px;
  margin-left: 300px;
  margin-top: 100px;
}

.songTitleButton{
  color: white;
  font-size: 20px;
  height: 50px;
  width: 950px;
  background-color: #555;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 3px; 
}

.songTitleButton:hover{
  background-color: gray;
}